# セキュリティ関連
.env
*.pem
*.key
certs/

# Python関連
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# L.E.F.T.E. 固有のデータ
wav_files/
static/uploads/
static/voices/
*.db
*.log

# OS関連
.DS_Store
Thumbs.db

token.json
credentials.json

voicevox_core_runtime/
open_jtalk_dic_utf_8-1.11/
*.vvm
*.dicvoicevox_core_runtime/
open_jtalk_dic_utf_8-1.11/
*.vvm
*.dic
